.uno {
  position: fixed;
  width: calc(50% - 235px);
  height: 20%;
  right: 49%;
  top: 0;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}

.dos {
  position: fixed;
  width: calc(63% - 235px);
  height: 20%;
  right: 1%;
  top: 0;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}
.tres {
  position: fixed;
  width: calc(98% - 235px);
  height: 20%;
  right: 1%;
  top: 28%;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}

.cuatro {
  position: fixed;
  width: calc(40% - 235px);
  height: 20%;
  right: 59%;
  top: 56%;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}

.cinco {
  position: fixed;
  width: calc(48% - 235px);
  height: 20%;
  right: 26%;
  top: 56%;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}

.seis {
  position: fixed;
  width: calc(40% - 235px);
  height: 20%;
  right: 1%;
  top: 56%;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}

button{
  position: fixed;
  width: calc(40% - 235px);
  height: 20%;
  right: 1%;
  top: 56%;
  font-size: 18pt;
  padding-top: 20px;
  resize: none;
  border: solid;
  padding: 20px 0px 20px 15px;
}
